protobuf==3.*
grpcio
grpcio-reflection
google-api-core
grpcio-health-checking
asyncio
PyYAML
unittest-xml-reporting>=3.0.0
pycryptodome
schedule
cachetools
jwcrypto
python-jose
factory-boy
jsonschema
python-dateutil
python-consul
scheduler-cron
click
celery[redis]==4.4.7
uvicorn
fastapi
python-consul
dnspython
dotty-dict
deepmerge