protobuf==3.*
grpcio
grpcio-reflection
google-api-core
grpcio-health-checking
fastapi
fastapi-utils
uvicorn
asyncio
PyYAML
jsonschema
unittest-xml-reporting
factory-boy
schedule
scheduler-cron
cachetools
pycryptodome
jwcrypto
python-jose
python-dateutil
python-consul
dnspython
click
pydantic
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-logging
opentelemetry-exporter-prometheus