protobuf==3.*
grpcio
grpcio-reflection
google-api-core
grpcio-health-checking
asyncio
PyYAML
unittest-xml-reporting>=3.0.0
pycryptodome
schedule
cachetools
jwcrypto
python-jose
factory-boy
jsonschema
python-dateutil
python-consul
scheduler-cron
click
uvicorn
fastapi
fastapi-utils
python-consul
dnspython
pydantic